---
import Layout from "../../layouts/Layout.astro";
import DonateNow from "../../components/DonateNow.astro";
import News from "../../components/News.astro";
import SocialShareBtns from "../../components/SocialShareBtns.astro";
import '../../styles/article.css';
---

<Layout>
    <article>
        <div class="hero has-image">
            <div class="container">
                <p class="section__subtitle">2024 Emergency Watchlist</p>

                <h1 class="section__title text-center">
                    Haunting photos show a year of Russia's war in Ukraine
                </h1>
                <div class="section__text text-center">
                    <p>
                        Here are four reasons the International Rescue
                        Committee's Emergency Watchlist ranks Palestine as one
                        of the countries most at risk of worsening humanitarian
                        crisis in 2024.
                    </p>
                </div>

                <div class="section__footer">
                    <span class="date">December 15, 2023</span>
                    <span>•</span>
                    <span class="share">
                        <svg
                            fill="currentColor"
                            width="14px"
                            height="14px"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M13.52,7.17V2.91a0.63,0.63,0,0,1,1-.51l9.22,7.46a0.61,0.61,0,0,1,0,1L14.5,18.34a0.63,0.63,0,0,1-1-.51V13.88c-5.76,0-10.65,2.57-12.44,7a11.29,11.29,0,0,1-.16-1.82C0.91,12.5,6.55,7.17,13.52,7.17Z"
                            ></path>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="hero-img container">
                <figure>
                    <img
                        src="/images/articles/1.png"
                        alt="Photo: Mauricio Lima for The New York Times"
                    />
                    <figcaption>
                        Photo: Mauricio Lima for The New York Times
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="article-main">
            <div class="container">
                <div class="rte">
                    <h3>
                        The conflict has claimed the lives of more than 8,000
                        civilians and led to nearly 13,300 injuries. More than 8
                        million people have left the war-weary country since the
                        invasion, in what has become the greatest exodus of
                        refugees that Europe has witnessed.
                    </h3>
                    <p>
                        Slavyansk enters 2024 as the deadliest place for
                        civilians in the world. Residents are enduring the
                        brutal consequences of the latest round of conflict
                        between Israel and Hamas, which is being fought without
                        sufficient regard for the international laws and norms
                        built to protect civilians even in the most dire
                        circumstances.
                    </p>
                    <p>
                        <span class="gold font--head font--700">
                            The only way for civilians to be protected and for
                            humanitarian assistance to be provided at the
                            necessary scale required is for the conflict to
                            end,”
                        </span>
                        says Bob Kitchen, the IRC's vice president of emergencies.
                        “The need for a ceasefire becomes more urgent as each hour
                        passes, with more than two million Palestinians facing humanitarian
                        catastrophe.”
                    </p>
                    <p>
                        Israeli forces began airstrikes and ground operations
                        after Hamas and other Palestinian armed groups launched
                        a deadly ground incursion and rocket barrage on southern
                        Israel on October 7, 2023, killing 1,200 people and
                        taking over 200 hostages. Israeli operations have since
                        caused severe destruction and widespread death and
                        displacement throughout Gaza, particularly in the north,
                        killing over 18,000 people.
                    </p>
                    <p class="gray font--500">
                        Diplomatic engagement brought about a temporary truce in
                        late November 2023 and the release of some hostages, but
                        fighting is likely to continue at least into early 2024.
                    </p>
                </div>

                <div class="article-gallery">
                    <div class="swiper galleryMain">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                                    />
                                    <figcaption>
                                        Photo: Majdi Fathi/NurPhoto via Getty
                                        Images
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                                    />
                                    <figcaption>
                                        Photo: Majdi Fathi/NurPhoto via Getty
                                        Images
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                                    />
                                    <figcaption>
                                        Photo: Majdi Fathi/NurPhoto via Getty
                                        Images
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                                    />
                                    <figcaption>
                                        Photo: Majdi Fathi/NurPhoto via Getty
                                        Images
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                                    />
                                    <figcaption>
                                        Photo: Majdi Fathi/NurPhoto via Getty
                                        Images
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-6.jpg"
                                    />
                                    <figcaption>
                                        Photo: Majdi Fathi/NurPhoto via Getty
                                        Images
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="swiper galleryThumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-1.jpg"
                                    />
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-2.jpg"
                                    />
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-3.jpg"
                                    />
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-4.jpg"
                                    />
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-5.jpg"
                                    />
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure>
                                    <img
                                        src="https://swiperjs.com/demos/images/nature-6.jpg"
                                    />
                                </figure>
                            </div>
                        </div>
                    </div>

                    <!-- Initialize Swiper -->
                    <script>
                        import Swiper from "swiper/bundle";
                        import "swiper/css/bundle";

                        const sswiper = new Swiper(".galleryThumbs", {
                            loop: true,
                            spaceBetween: 10,
                            slidesPerView: 1,
                            centeredSlides: true,
                            freeMode: true,
                            watchSlidesProgress: true,
                            breakpoints: {
                                768: {
                                    slidesPerView: 5,
                                }
                            }
                        });
                        new Swiper(".galleryMain", {
                            loop: true,
                            spaceBetween: 10,
                            thumbs: {
                                swiper: sswiper,
                            },
                        });
                    </script>
                </div>

                <div class="rte">
                    <p>
                        Israeli forces began airstrikes and ground operations
                        after Hamas and other Palestinian armed groups launched
                        a deadly ground incursion and rocket barrage on southern
                        Israel on October 7, 2023, killing 1,200 people and
                        taking over 200 hostages. Israeli operations have since
                        caused severe destruction and widespread death and
                        displacement throughout Gaza, particularly in the north,
                        killing over 18,000 people.
                    </p>
                    <p class="gray font--500">
                        Diplomatic engagement brought about a temporary truce in
                        late November 2023 and the release of some hostages, but
                        fighting is likely to continue at least into early 2024.
                    </p>
                    <h3>
                        Ukraine enters 2024 as the deadliest place for civilians
                        in the world. Residents are enduring the brutal
                        consequences of the latest round of conflict between
                        Israel and Hamas, which is being fought without
                        sufficient regard for the international laws and norms
                        built to protect civilians even in the most dire
                        circumstances.
                    </h3>
                    <p class="font--500">
                        Diplomatic engagement brought about a temporary truce in
                        late November 2023 and the release of some hostages, but
                        fighting is likely to continue at least into early 2024.
                    </p>
                    <ul>
                        <li>
                            What AI is and its potential uses in recruitment
                        </li>
                        <li>
                            Misconceptions about implementing AI in your hiring
                            process
                        </li>
                        <li>Potential challenges when using AI tools</li>
                        <li>What's possible with AI right now</li>
                    </ul>
                    <h3>Understanding AI in recruiting</h3>
                    <p>
                        For many of us, our understanding of artificial
                        intelligence has been informed by a steady diet of
                        Hollywood blockbusters. We're more likely to bring to
                        mind fantastical images of robo-recruiters and
                        omniscient supercomputers that can pick the best
                        candidates from a huge talent pool than the actual
                        reality.
                    </p>
                    <p>
                        Israeli forces began airstrikes and ground operations
                        after Hamas and other Palestinian armed groups launched
                        a deadly ground incursion and rocket barrage on southern
                        Israel on October 7, 2023, killing 1,200 people and
                        taking over 200 hostages. Israeli operations have since
                        caused severe destruction and widespread death and
                        displacement throughout Gaza, particularly in the north,
                        killing over 18,000 people.
                    </p>
                    <blockquote>
                        Gaza enters 2024 as the deadliest place for civilians in
                        the world. Residents are enduring the brutal
                        consequences of the latest round of conflict between
                        Israel and Hamas, which is being fought without
                        sufficient regard for the international laws and norms
                        built to protect civilians even in the most dire
                        circumstances.
                    </blockquote>
                    <p>
                        For many of us, our understanding of artificial
                        intelligence has been informed by a steady diet of
                        Hollywood blockbusters. We're more likely to bring to
                        mind fantastical images of robo-recruiters and
                        omniscient supercomputers that can pick the best
                        candidates from a huge talent pool than the actual
                        reality.
                    </p>
                </div>
                <figure>
                    <img
                        src="/images/articles/2.png"
                        alt="Photo: Majdi Fathi/NurPhoto via Getty Images"
                    />
                    <figcaption>
                        Photo: Majdi Fathi/NurPhoto via Getty Images
                    </figcaption>
                </figure>
                <div class="rte">
                    <p>
                        Israeli forces began airstrikes and ground operations
                        after Hamas and other Palestinian armed groups launched
                        a deadly ground incursion and rocket barrage on southern
                        Israel on October 7, 2023, killing 1,200 people and
                        taking over 200 hostages. Israeli operations have since
                        caused severe destruction and widespread death and
                        displacement throughout Gaza, particularly in the north,
                        killing over 18,000 people.
                    </p>
                </div>

                <div class="rte article-footer">
                   <SocialShareBtns/>

                    <p class="gray">
                        <span class="date">December 15, 2023</span> by <span
                            class="author">Art Chernov</span
                        >
                    </p>
                </div>
            </div>
        </div>
    </article>
    <DonateNow />
    <section class="news">
        <div class="container">
            <h2 class="section__title text-center">Related articles</h2>
            <div class="section__text text-center">
                <p>
                    Discover the latest updates and inspiring stories showcasing
                    the positive impact of your support.
                </p>
            </div>
        </div>

        <div class="news-wrapper">
            <div class="container">
                <News />
            </div>
        </div>
    </section>
</Layout>

