<ul class="language-switcher">
    <li><a href="">UA</a></li>
    <li><a href="" class="active">ENG</a></li>
</ul>

<style>
    .language-switcher {
        display: flex;
        align-items: baseline;
        gap: 0.5em;

        list-style: none;
        padding: 0;
        margin: 0;
    }
    .language-switcher a {
        font-weight: 400;
        line-height: 25.6px;
        color: #3B66D4;
        transition: 0.5s ease;
    }
    .language-switcher a:hover,
    .language-switcher a.active {
        color: #FFD600;
    }
</style>